.tyw7ucfy6tr4aqjsmkrr{
	display: flex;
	flex-wrap: wrap;
	.sperasxissuksrvl599d{
		width: 24%;
		margin:5px;
		img{
			max-width: 100%;
		}
	}
}
.form-search{
	margin-top: 50px;
	.btn-click{
		margin-top: 10px;
		button{
			outline: 0;
		}
	}
}
.loading{
	width: 200px;
	height: 100px;
	position: fixed;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-top: -50px;
	background-color: aqua;
	color: black;
	display:flex;	
	align-items: center;
	justify-content: center;
	
}
.spinner {
	width: 100%;
	height: 100%;
	>div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.covid19-title{
	color: #f03;
	margin-bottom: 40px;
}