.tyw7ucfy6tr4aqjsmkrr{
	display: flex;
	flex-wrap: wrap;
	.sperasxissuksrvl599d{
		width: 24%;
		margin:5px;
		img{
			max-width: 100%;
		}
	}
}
.form-search{
	margin-top: 50px;
	.btn-click{
		margin-top: 10px;
	}
}